body {
    background-image: url("./background_image.png")
}  

.header {
    margin: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.header-image {
    max-height: 80%;
    max-width: 90%;
}

.instructions{
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #B4f4fe;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.subtitle{
    color: #000000;
    font-family: 'Arial';
    text-emphasis: bold;
    font-style: oblique;
    letter-spacing: 2px;
}

.text{
    font-family: 'Arial';
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}